
footer {
    margin-top: 5rem;
    background-color: rgb(23, 23, 119);
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    transition: color 0.3s;

}

.socials a:hover {
    color: #3498db;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}