header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 1000;
    background: black;
}
header .logo{
    font-weight: bolder;
    color: blue;
    font-size: 3rem;
}
header .navbar a{
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    color: white;
}
header a{
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;
}
header a img{
    height: 80px;
    width: 80px;
}
header .navbar a:hover{
    color: blue;
    transition: .4s;
}
.dropdown{
    display: none;
}
.dropdown-menu{
    display: none;
}
.dropdown-menu li a{
    font-size: 2rem;
}
.dropdown-menu li a:hover{
    background-color: blue;
    color: #fff;
}